*{
    --grey: #383838;
    --white: #FDFDFB;
    --blue: #1C80D5;
    --pink: #FC78A9;
    --black: #000;
}

@font-face {
    font-family: "Regional";
    src: url(/Regional/Regional-ExtraLightCondensed.otf) format("opentype");
}

@font-face {
    font-family: "Editorial";
    src: url(/PPEditorialNew-Ultralight.otf) format("opentype");
}

.helvetica{
    font-family: "Helvetica", serif;
}

.editorial{
    font-family: Editorial, serif;
    font-size: 32px;
}

body{
    background-color: var(--white);
    font-family: Regional, serif;
    color: var(--grey);
    overflow-x: hidden;
}

#checkup-door{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: no-repeat url('/images/hollow2.png');
    background-size: cover;
}

#checkup-door>button{
    padding: 0px 50px;
    font-size: 12rem;
    font-family: Regional, serif;
    background: transparent;
    border: none;
    color: var(--grey);
}

#checkup-door>button:hover{
    cursor: pointer;
}

h1{
    font-size: 8rem;
}

h2{
    font-size: 4rem;
}

p{
    font-size: 3rem;
}

a{
    text-decoration: none;
    color: var(--grey);
}

a:hover{
    cursor: pointer;
}

.hover-link {
  position: relative;
  text-decoration: none;
}

.hover-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  bottom: 6px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.blue-link::before{
  background-color: var(--blue);
}

.pink-link::before{
    background-color: var(--pink);
}

.hover-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.bigImg{
    width: 800px;
    margin: 20px 0;
}

.midImg{
    width: 700px;
}

.littleImg{
    width: 500px;
}

.hidden{
    display: none !important;
}

#intro{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

#intro>video{
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
}

#skip-button{
    padding: 0px 50px;
    position: fixed;
    bottom: 100px;
    z-index: 1000;
    right: 20px;
    cursor: pointer;
    background-color: var(--black);
    border: 0.5px solid var(--white);
    font-size: 2rem;
    font-family: Regional, serif;
    color: var(--white);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

#skip-button.skip-btn-visible{
    opacity: 1;
    pointer-events: auto;
}

#app{
    padding: 20px 0;
}

.icon{
    position: fixed;
    left: 80px;
}

.icon>img{
    width: 100px;
}

.top-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.artwork-header{
    margin-bottom: 5rem !important;
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.reworked, .visuals, .fanbase, .tracklist{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-top: 100px;
}

.fanbase{
    width: 100% !important;
}

video{
    width: 100%;
}

p.editorial{
    width: 50%;
    text-align: justify;
    margin: 50px 0;
}

.artwork{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 50px;
}

.artwork-gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.artwork-gallery>img{
    margin: 5px;
}

.artwork-credits{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
}

.holow-artwork{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

.artwork-credits>p{
    margin-top: 20px;
}

.extern-link{
    font-size: 2rem;
}

.kerning-artwork{
    display: flex;
    align-items: center;
    height: 100vh;
    flex-wrap: nowrap;
    position: relative;
    overflow: visible;
    margin-top: 40px;
    width: max-content;
}

.horizontal-section{
    position: relative;
    width: 100%;
}

.panel {
    flex: 0 0 auto;
    width: 40vw;
    margin-right: 10px;
}


footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}

footer>p{
    font-size: 2rem;
}


/*Music player*/
#myProgress {
width: 150px;
background-color: #666666; 
cursor: pointer;
border-radius: 10px;
}

#myBar {
width: 0%;
height: 5px;
background-color: var(--grey);
border-radius: 10px;
}

.btn-action{
cursor: pointer;
padding-top: 10px;
width: 30px;
}

.btn-ctn, .infos-ctn{
display: flex;
align-items: center;
justify-content: center;
}

.btn-ctn > div {
padding: 5px;
}

.player-ctn{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
position: fixed;
left: 20px;
bottom: 20px;
z-index: 100;
}

.player-ctn .editorial{
font-size: 20px;
}

.player-infos{
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
}

.player-infos > div{
margin: 0 10px;
display: flex;
align-items: center;
}

.player-infos > div > div{
margin: 10px;
}


.first-btn{
margin-left: 3px;
}

.duration{
margin-left: 10px;
}

.title{
margin-left: 10px;
}

.playlist-track-ctn{
display: flex;
background-color: var(--grey);
margin-top: 3px;
border-radius: 5px;
cursor: pointer;
}

.playlist-track-ctn > div{
margin:10px;
}
.playlist-info-track{
width: 80%;
}
.playlist-info-track,.playlist-duration{
padding-top: 7px;
padding-bottom: 7px;
color: var(--grey);
font-size: 14px;
pointer-events: none;
}
.playlist-ctn{
    padding-bottom: 20px;
}
.active-track{
background: #4d4d4d;
color: var(--grey) !important;
font-weight: bold;

}

.active-track > .playlist-info-track,.active-track >.playlist-duration,.active-track > .playlist-btn-play{
color: var(--grey) !important;
}


.playlist-btn-play{
pointer-events: none;
padding-top: 5px;
padding-bottom: 5px;
}
.fas{
color: var(--grey);
font-size: 20px;
}

@media only screen and (max-width: 1200px){
    h1{font-size: 6rem;}
    h2{font-size: 3em;}
    p{font-size: 2rem;}
    p.editorial{font-size: 24px;}

    .bigImg{
        width: 600px;
    }

    .holow-artwork>img, .artwork-gallery>.bigImg{
        width: 100%;
    }
    .artwork-gallery>.littleImg{
        width: 40%;
    }
    .artwork-gallery>.midImg{
        width: 80%;
    }
}

@media only screen and (max-width: 768px){
    h1{font-size: 4rem;}
    h2{font-size: 2em;}
    p{font-size: 1.5rem;}
    p.editorial{font-size: 20px; width: 70%;}

    .bigImg{
        width: 400px;
    }

    .player-ctn{
        right: 0;
        left: 0;
    }
}

@media only screen and (max-width: 500px){
    .kerning-artwork{
        height: 70vh;
    }
    .panel {
        flex: 0 0 auto;
        width: 80vw;
        margin-right: 10px;
    }
}

@media only screen and (max-width: 320px){
    
}